.multiselectContainer {
  position: relative;
  width: 100%;
}

.search {
  padding: 2rem 4rem 2rem 2rem;
  width: 100%;
  border: none;
  border-radius: 10px 10px 0 0;
  outline: none;
  z-index: 1;
  font-size: 1rem;
}

.searchBox {
  position: relative;
  width: 91%;
  height: 400px;
  padding: 10px 10px 10px 10px;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
  z-index: 0;
  transition: opacity 0.2s ease-in;
  overflow-y: auto;
}

.dropdownButton {
  position: absolute;
  right: 35px;
  transform: translateY(-50%) rotate(360deg);
  cursor: pointer;
  z-index: 1;
  transition: all 0.2s ease-in;
}

.dropdownButton.open {
  transform: translateY(-50%) rotate(180deg);
}

.clearButton {
  position: absolute;
  right: 65px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}

.selectedItemContainer {
  display: flex;
  flex-wrap: wrap;
  max-height: 120px;
  overflow-y: auto;
  align-items: center;
  width: 96%;
  background-color: #fff;
}

.selectedItem {
  margin: 10px;
  padding: 5px;

  text-align: center;
  border-radius: 5px;
  background-color: #fff;
}

.removeButton {
  cursor: pointer;
  position: absolute;
  right: -15px;
  top: -10px;
}
